body {
    margin: 0pt;
}

header {
    height: 200pt;
    background-color: rgb(155, 153, 250);
}

header img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 30pt;
    height: 150pt;
}

.searchContainer {
    float: right;
}

main ul {
    text-align: center;
}

main ul li {
    display: inline-block;
    justify-content: center;
    margin: 0pt 35pt;
}

main ul li button {
    display: block;
    width: 100%;
    margin-bottom: 14pt;
    height: 50pt;
    border-radius: 8px;
}

.searchButtons {
    background-color: rgb(186, 248, 248);
    color: black;
}

.search {
    background-color: white;
    color: black;
}
.searchBar {
    background-color: white;
}

.arrow-pointer {
    width: 250px;
    height: 50px;
    background: #b3fadd;
    position: relative;
}
.arrow-pointer:after {
    content: '';
    position: absolute;
    left: 0; bottom: 0; width: 0; height: 0;
    border-left: 25px solid #ffffff;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}
  
.arrow-pointer:before {
    content: '';
    position: absolute;
    right: -25px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid #b3fadd;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}

.customer{
    font-size: 21px;
    font-style: italic;
    height: 100%;
    line-height: 1.25;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

.component{
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    width: 750px;
    margin:0 auto;
    padding: 3rem;
}

.component blockquote.quote {
    position: relative; 
    text-align: center;
    padding: 1rem 1.2rem;
    width: 50%; 
    color: #484748;
    margin: 1rem auto 2rem;
}
.component blockquote.EN {
    background:
    linear-gradient(to right, #039be5 4px, transparent 4px) 0 100%,
    linear-gradient(to left, #039be5 4px, transparent 4px) 100% 0,
    linear-gradient(to bottom, #039be5 4px, transparent 4px) 100% 0,
    linear-gradient(to top, #039be5 4px, transparent 4px) 0 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.component blockquote.DE {
    background:
    linear-gradient(to right, #039be5 4px, transparent 4px) 0% 0%,
    linear-gradient(to bottom, #039be5 4px, transparent 4px) 0% 0%,
    linear-gradient(to left, #039be5 4px, transparent 4px) 100% 100%,
    linear-gradient(to top, #039be5 4px, transparent 4px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
/* -- create the quotation marks -- */
.component blockquote.quote:before,
.component blockquote.quote:after{
    font-family: FontAwesome;
    position: absolute;
    color: #039be5;
    font-size: 34px;
}

.component blockquote.EN:before{
    content: "\f10d";
    top: -12px;
    margin-right: -20px;
    right: 100%;
}
.component blockquote.EN:after{
    content: "\f10e";
    margin-left: -20px;
    left: 100%;  
    top: auto;
    bottom: -20px;
}
.component blockquote.DE:before{
    content: "\f10e";
    margin-right: -20px;
    bottom: -20px;
    right: 100%;
}
.component blockquote.DE:after{
    content: "\f10d";
    margin-left: -20px;
    left: 100%;  
    top: -20px;
    bottom: auto;
}

hr.rounded {
    border-top: 8px solid rgba(31, 29, 114, 0.349);
    border-radius: 4px;
}

section.contact nav {
    float: left;
}

section.contact nav.contact-left {
    margin: 0;
    position: relative;
    left: 5%;
    width: 40%;   
}

section.contact nav.contact-middle {
    width: 35%;
}

section.contact nav.contact-right {
    width: 25%;
}