body {
    margin: 0pt;
}

header {
    height: 200pt;
    background-color: rebeccapurple;
}

header img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 30pt;
    height: 150pt;
}

.searchContainer {
    float: right;
}

main ul {
    text-align: center;
}

main ul li {
    display: inline-block;
    justify-content: center;
    margin: 0pt 35pt;
}

main ul li button {
    display: block;
    width: 100%;
    margin-bottom: 14pt;
    height: 50pt;
    border-radius: 8px;
}

.searchButtons {
    background-color: rgb(186, 248, 248);
    color: black;
}

.search {
    background-color: white;
    color: black;
}
.searchBar {
    background-color: white;
}

hr.rounded {
    border-top: 8px solid rgba(31, 29, 114, 0.349);
    border-radius: 4px;
}

footer {
    background-color: rgb(186, 248, 248);
}

section.info nav {
    float: left;
}

section.info nav.info-left {
    margin: 0;
    position: relative;
    left: 5%;
    width: 40%;   
}

section.info nav.info-middle {
    width: 35%;
}

section.info nav.info-right {
    width: 25%;
}