header {
    height: 200pt;
    background-color: rebeccapurple;
}

header img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 30pt;
}

.searchContainer {
    float: right;
}