<!DOCTYPE html>
<html lang="en">
<head>
<title th:text="'This is a ' + ${basketball.name} + ' basketball game ticket!'"></title>
<link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
    <div class="basketball">
        <h1 th:text="'A ' + ${basketball.name} + ' game ticket is available!'"></h1>
        <p th:text="'It costs: $' + ${basketball.price} + '.'"></p>
        <p th:text="'The ticket is located in section ' + ${basketball.section} + '.'"></p>
        <p th:text="'The seat number is ' + ${basketball.seat} + '.'"></p>
        <p th:text="'Here is a description: ' + ${basketball.description} + '.'"></p>
        <p th:text="'The game is on ' + ${basketball.date} + '.'"></p>
    </div>
</body>
</html>