<!DOCTYPE html>
<html lang="en">
<head>
<title th:text="'This is a ' + ${comicbook.name} + ' comic book!'"></title>
<link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
    <div class="comicbook">
        <h1 th:text="'A ' + ${comicbook.name} + ' comicbook is available!'"></h1>
        <p th:text="'It costs: $' + ${comicbook.price} + '.'"></p>
        <p th:text="'It is written by ' + ${comicbook.author} + '.'"></p>
        <p th:text="'The cover is ' + ${comicbook.cover} + '.'"></p>
        <p th:text="'Here is a description: ' + ${comicbook.description} + '.'"></p>
        <p th:text="'The artist is ' + ${comicbook.artist} + '.'"></p>
    </div>
</body>
</html>