<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create a Computer</title>
</head>
    <body>
        <h3>Welcome, Enter Computer</h3>
        <form action="#" th:action="@{/computer/createform}" method="post" th:object="${computer}">
             <table> 
                <tr>
                    <td><label>Model</label></td>
                    <td><input type="text" th:field="*{name}" /></td>
                </tr>
                <tr>
                    <td><label>Price</label></td>
                    <td><input type="text" th:field="*{price}" /></td>
                </tr>
                <tr>
                    <td><label>Color</label></td>
                    <td><input type="text" th:field="*{color}" /></td>
                </tr>
                <tr>
                    <td><label>Computer Brand</label></td>
                    <td><input type="text" th:field="*{computerBrand}" /></td>
                </tr>
                <tr>
                    <td><label>Description</label></td>
                    <td><input type="text" th:field="*{description}" /></td>
                </tr>
                <tr>
                    <td><label>Release Date</label></td>
                    <td><input type="text" th:field="*{releaseDate}" /></td>
                </tr>
                <tr>
                    <td><label>Weight</label></td>
                    <td><input type="text" th:field="*{weight}" /></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit"/></td>
                </tr>
            </table>
        </form:form>
    </body>
</html>