<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Energy</title>
</head>
    <body>
        <h3>Welcome, Enter Energy</h3>
        <form action="#" th:action="@{/powerplant/createform}" method="post" th:object="${energy}">
             <table> 
                <tr>
                    <td><label>Name</label></td>
                    <td><input type="text" th:field="*{name}" /></td>
                </tr>
                <tr>
                    <td><label>price</label></td>
                    <td><input type="text" th:field="*{price}" /></td>
                </tr>
                <tr>
                    <td><label>description</label></td>
                    <td><input type="text" th:field="*{description}" /></td>
                </tr>
                <tr>
                    <td><label>weight</label></td>
                    <td><input type="text" th:field="*{weight}" /></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit"/></td>
                </tr>
            </table>
        </form:form>
    </body>
</html>